# ==================================================
# Python Virtual Environment
# ==================================================

venv/

# ==================================================
# Python Cache
# ==================================================

__pycache__/
*.py[cod]

# ==================================================
# Log Files
# ==================================================

logs/
*.log

# ==================================================
# IDE Files
# ==================================================

.vscode/
.idea/

# ==================================================
# Operating System Files
# ==================================================

.DS_Store
Thumbs.db